# My investment Journal

In [ ]:

#import cufflink as cf
import plotly.express as px
import plotly.graph_objects as go
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import time
import os
from os import listdir
from os.path import isfile, join
import yfinance as yf
import yahoo_fin as fin 
from yahoo_fin.stock_info import get_data
import yahoo_fin.stock_info as si

import warnings
warnings.simplefilter('ignore')


from plotly.subplots import make_subplots

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

#cf.go_offline()

### CONSTANTS

PATH = ""

In [ ]:
df = get_data("amzn", start_date = "12/04/2009", end_date = "12/04/2019", index_as_date = True, interval ="1wk")
df

,open,high,low,close,adjclose,volume,ticker
2009-11-30,7.181000,7.295500,6.755500,6.879000,6.879000,627018000,AMZN
2009-12-07,6.900000,6.950000,6.491000,6.707500,6.707500,957260000,AMZN
2009-12-14,6.625000,6.630500,6.282500,6.424000,6.424000,915898000,AMZN
2009-12-21,6.524000,6.985000,6.509500,6.923500,6.923500,648120000,AMZN
2009-12-28,6.987500,7.129000,6.726000,6.726000,6.726000,572014000,AMZN
...,...,...,...,...,...,...,...
2019-11-04,90.050499,90.752998,88.702003,89.293999,89.293999,229232000,AMZN
2019-11-11,88.900002,89.310997,86.642998,86.974503,86.974503,263310000,AMZN
2019-11-18,86.915001,88.125999,86.135498,87.286003,87.286003,260846000,AMZN
2019-11-25,87.662498,91.234497,87.662003,90.040001,90.040001,232328000,AMZN
2019-12-02,90.220001,90.277496,87.361504,88.498001,88.498001,146130000,AMZN

In [ ]:
Tickers = ["aapl", "amzn", "ba"]
historical_data = {}
for ticker in Tickers:
    historical_data[ticker] = get_data(ticker)

In [ ]:
historical_data['aapl']

,open,high,low,close,adjclose,volume,ticker
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099058,469033600,AAPL
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093890,175884800,AAPL
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086998,105728000,AAPL
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089152,86441600,AAPL
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091737,73449600,AAPL
...,...,...,...,...,...,...,...
2024-05-07,183.449997,184.899994,181.320007,182.399994,182.152924,77305800,AAPL
2024-05-08,182.850006,183.070007,181.449997,182.740005,182.492477,45057100,AAPL
2024-05-09,182.559998,184.660004,182.110001,184.570007,184.320007,48983000,AAPL
2024-05-10,184.899994,185.089996,182.130005,183.050003,183.050003,50727400,AAPL
2024-05-13,185.434998,187.100006,184.619995,186.279999,186.279999,70169719,AAPL

In [ ]:
#tickers_dow() returns a list of all the tickers in the Dow Jones so we can do
dow_tickers = si.tickers_dow()

print('Tickers in dow Jones: ', int(len(dow_tickers)))
dow_tickers[0:10]

Tickers in dow Jones:  30

['AAPL', 'AMGN', 'AMZN', 'AXP', 'BA', 'CAT', 'CRM', 'CSCO', 'CVX', 'DIS']

In [57]:
dow_historical = {}
for ticker in dow_tickers:
    dow_historical[ticker] = si.get_data(ticker, start_date="01/01/2020", end_date="01/03/2020", interval="1d")

dow_historical

{'AAPL':                  open       high        low      close   adjclose     volume  \
 2020-01-02  74.059998  75.150002  73.797501  75.087502  72.960457  135480400

            ticker
 2020-01-02   AAPL  ,
 'AMGN':              open        high         low       close    adjclose   volume  \
 2020-01-02  243.0  243.190002  238.979996  240.100006  210.685333  2088000

            ticker
 2020-01-02   AMGN  ,
 'AMZN':              open       high        low      close   adjclose    volume ticker
 2020-01-02  93.75  94.900497  93.207497  94.900497  94.900497  80580000   AMZN,
 'AXP':                   open        high         low       close    adjclose  \
 2020-01-02  124.660004  126.269997  124.230003  125.849998  118.555199

              volume ticker
 2020-01-02  2708000    AXP  ,
 'BA':                   open        high         low       close    adjclose  \
 2020-01-02  328.549988  333.350006  327.700012  333.320007  331.348572

              volume ticker
 2020-01-02  4544400     BA  ,
 'CAT':              open        high         low       close    adjclose   volume  \
 2020-01-02  149.0  150.550003  147.979996  150.529999  135.917404  3311900

            ticker
 2020-01-02    CAT  ,
 'CRM':                   open        high         low       close    adjclose  \
 2020-01-02  163.919998  167.070007  163.580002  166.990005  166.772156

              volume ticker
 2020-01-02  5189300    CRM  ,
 'CSCO':                  open       high        low      close   adjclose    volume  \
 2020-01-02  48.060001  48.419998  47.880001  48.419998  42.417492  16708100

            ticker
 2020-01-02   CSCO  ,
 'CVX':                   open        high         low   close    adjclose   volume  \
 2020-01-02  120.809998  121.629997  120.769997  121.43  100.319183  5205000

            ticker
 2020-01-02    CVX  ,
 'DIS':                   open        high         low       close    adjclose  \
 2020-01-02  145.289993  148.199997  145.100006  148.199997  147.718567

              volume ticker
 2020-01-02  9502100    DIS  ,
 'DOW':              open       high        low  close   adjclose   volume ticker
 2020-01-02  55.23  55.540001  53.639999  53.75  43.105026  5145200    DOW,
 'GS':              open        high         low       close  adjclose   volume  \
 2020-01-02  231.0  234.639999  230.160004  234.320007  210.8573  3736300

            ticker
 2020-01-02     GS  ,
 'HD':                   open        high         low       close    adjclose  \
 2020-01-02  219.080002  219.759995  217.839996  219.660004  198.309555

              volume ticker
 2020-01-02  3935700     HD  ,
 'HON':              open        high         low       close    adjclose   volume  \
 2020-01-02  177.5  180.800003  177.139999  180.789993  165.593628  2857400

            ticker
 2020-01-02    HON  ,
 'IBM':                   open        high         low      close    adjclose  \
 2020-01-02  129.063095  129.942642  128.843216  129.46463  105.346329

              volume ticker
 2020-01-02  3293436    IBM  ,
 'INTC':                  open       high        low  close   adjclose    volume ticker
 2020-01-02  60.240002  60.970001  60.220001  60.84  54.006908  18056000   INTC,
 'JNJ':                   open        high         low       close    adjclose  \
 2020-01-02  145.869995  146.020004  145.080002  145.970001  130.099121

              volume ticker
 2020-01-02  5777000    JNJ  ,
 'JPM':                   open        high         low       close    adjclose  \
 2020-01-02  139.789993  141.100006  139.259995  141.089996  123.533623

               volume ticker
 2020-01-02  10803700    JPM  ,
 'KO':              open   high        low      close   adjclose    volume ticker
 2020-01-02  55.32  55.43  54.759998  54.990002  48.147964  11867700     KO,
 'MCD':              open        high         low       close    adjclose   volume  \
 2020-01-02  198.0  200.800003  197.809998  200.789993  182.138763  3554200

            ticker
 2020-01-02    MCD  ,
 'MMM':                   open       high         low       close    adjclose  \
 2020-01-02  148.561874  150.51004  148.110367  150.501678  120.669189

              volume ticker
 2020-01-02  4307633    MMM  ,
 'MRK':                  open       high        low      close  adjclose   volume  \
 2020-01-02  86.908394  87.919846  86.230919  87.824425  76.92662  8251428

            ticker
 2020-01-02    MRK  ,
 'MSFT':                   open        high         low       close    adjclose  \
 2020-01-02  158.779999  160.729996  158.330002  160.619995  154.493835

               volume ticker
 2020-01-02  22622100   MSFT  ,
 'NKE':                   open        high         low       close   adjclose  \
 2020-01-02  101.360001  102.209999  101.019997  102.199997  97.793617

              volume ticker
 2020-01-02  5644100    NKE  ,
 'PG':              open        high         low       close    adjclose   volume  \
 2020-01-02  124.5  124.730003  122.940002  123.410004  110.382263  8130800

            ticker
 2020-01-02     PG  ,
 'TRV':                   open        high         low       close    adjclose  \
 2020-01-02  137.520004  137.740005  136.139999  137.509995  124.694565

              volume ticker
 2020-01-02  1117300    TRV  ,
 'UNH':                   open        high         low  close    adjclose   volume  \
 2020-01-02  293.980011  295.700012  289.790009  292.5  274.946411  2543400

            ticker
 2020-01-02    UNH  ,
 'V':              open        high         low       close    adjclose   volume  \
 2020-01-02  189.0  191.139999  188.720001  191.119995  185.551468  8733000

            ticker
 2020-01-02      V  ,
 'VZ':                  open       high        low      close   adjclose    volume  \
 2020-01-02  61.380001  61.450001  60.810001  61.049999  47.827469  11447900

            ticker
 2020-01-02     VZ  ,
 'WMT':                  open       high        low      close   adjclose    volume  \
 2020-01-02  39.619999  39.963333  39.566666  39.646667  37.097115  20294700

            ticker
 2020-01-02    WMT  }

In [58]:
quote_table = yf.get_quote_table("aapl", dict_result=False)
quote_table

AttributeError: module 'yfinance' has no attribute 'get_quote_table'

In [ ]:
data = yf.download("AMZN AAPL GOOG", start="2017-01-01", end="2017-04-30")
data

[*********************100%%**********************]  3 of 3 completed

Price       Adj Close                            Close                        \
Ticker           AAPL       AMZN       GOOG       AAPL       AMZN       GOOG
Date
2017-01-03  26.952705  37.683498  39.306999  29.037500  37.683498  39.306999
2017-01-04  26.922539  37.859001  39.345001  29.004999  37.859001  39.345001
2017-01-05  27.059452  39.022499  39.701000  29.152500  39.022499  39.701000
2017-01-06  27.361126  39.799500  40.307499  29.477501  39.799500  40.307499
2017-01-09  27.611729  39.846001  40.332500  29.747499  39.846001  40.332500
...               ...        ...        ...        ...        ...        ...
2017-04-24  33.476292  45.370499  43.138000  35.910000  45.370499  43.138000
2017-04-25  33.683720  45.381001  43.615002  36.132500  45.381001  43.615002
2017-04-26  33.485619  45.464500  43.586498  35.919998  45.464500  43.586498
2017-04-27  33.511257  45.918999  43.712502  35.947498  45.918999  43.712502
2017-04-28  33.478630  46.249500  45.298000  35.912498  46.249500  45.298000

Price            High                              Low                        \
Ticker           AAPL       AMZN       GOOG       AAPL       AMZN       GOOG
Date
2017-01-03  29.082500  37.938000  39.481499  28.690001  37.384998  38.790001
2017-01-04  29.127501  37.984001  39.567001  28.937500  37.709999  39.158001
2017-01-05  29.215000  39.119999  39.723999  28.952499  38.013000  39.250999
2017-01-06  29.540001  39.972000  40.395000  29.117500  38.924000  39.610199
2017-01-09  29.857500  40.088501  40.498299  29.485001  39.588501  40.141499
...               ...        ...        ...        ...        ...        ...
2017-04-24  35.987499  45.499500  43.172501  35.794998  45.191002  42.493000
2017-04-25  36.224998  45.473999  43.750000  35.967499  45.150002  43.140499
2017-04-26  36.150002  45.787498  43.802502  35.845001  45.377998  43.387402
2017-04-27  36.040001  46.092999  43.770000  35.827499  45.605499  43.519001
2017-04-28  36.075001  47.479500  45.842499  35.817501  46.216499  45.288502

Price            Open                           Volume
Ticker           AAPL       AMZN       GOOG       AAPL       AMZN      GOOG
Date
2017-01-03  28.950001  37.896000  38.940498  115127600   70422000  33146000
2017-01-04  28.962500  37.919498  39.417999   84472400   50210000  21460000
2017-01-05  28.980000  38.077499  39.304001   88774400  116602000  26704000
2017-01-06  29.195000  39.118000  39.763000  127007600  119724000  32804000
2017-01-09  29.487499  39.900002  40.320000  134247600   68922000  25492000
...               ...        ...        ...        ...        ...       ...
2017-04-24  35.875000  45.433998  42.560001   68537200   62458000  27450000
2017-04-25  35.977501  45.352001  43.250000   75486000   67612000  33440000
2017-04-26  36.117500  45.514999  43.711498   80164800   52178000  24744000
2017-04-27  35.980000  45.719501  43.680000   56985200  106110000  40536000
2017-04-28  36.022499  47.441502  45.533001   83441600  147294000  65526000

[81 rows x 18 columns]

In [ ]:
data = data.stack()
data

Price              Adj Close      Close       High        Low       Open  \
Date       Ticker
2017-01-03 AAPL    26.952705  29.037500  29.082500  28.690001  28.950001
           AMZN    37.683498  37.683498  37.938000  37.384998  37.896000
           GOOG    39.306999  39.306999  39.481499  38.790001  38.940498
2017-01-04 AAPL    26.922539  29.004999  29.127501  28.937500  28.962500
           AMZN    37.859001  37.859001  37.984001  37.709999  37.919498
...                      ...        ...        ...        ...        ...
2017-04-27 AMZN    45.918999  45.918999  46.092999  45.605499  45.719501
           GOOG    43.712502  43.712502  43.770000  43.519001  43.680000
2017-04-28 AAPL    33.478630  35.912498  36.075001  35.817501  36.022499
           AMZN    46.249500  46.249500  47.479500  46.216499  47.441502
           GOOG    45.298000  45.298000  45.842499  45.288502  45.533001

Price                 Volume
Date       Ticker
2017-01-03 AAPL    115127600
           AMZN     70422000
           GOOG     33146000
2017-01-04 AAPL     84472400
           AMZN     50210000
...                      ...
2017-04-27 AMZN    106110000
           GOOG     40536000
2017-04-28 AAPL     83441600
           AMZN    147294000
           GOOG     65526000

[243 rows x 6 columns]

In [ ]:
data = yf.download("AMZN AAPL GOOG", start="2017-01-01",
                    end="2017-04-30", group_by='tickers')
data

[*********************100%%**********************]  3 of 3 completed

Ticker           AAPL                                                         \
Price            Open       High        Low      Close  Adj Close     Volume
Date
2017-01-03  28.950001  29.082500  28.690001  29.037500  26.952705  115127600
2017-01-04  28.962500  29.127501  28.937500  29.004999  26.922539   84472400
2017-01-05  28.980000  29.215000  28.952499  29.152500  27.059452   88774400
2017-01-06  29.195000  29.540001  29.117500  29.477501  27.361126  127007600
2017-01-09  29.487499  29.857500  29.485001  29.747499  27.611729  134247600
...               ...        ...        ...        ...        ...        ...
2017-04-24  35.875000  35.987499  35.794998  35.910000  33.476292   68537200
2017-04-25  35.977501  36.224998  35.967499  36.132500  33.683720   75486000
2017-04-26  36.117500  36.150002  35.845001  35.919998  33.485619   80164800
2017-04-27  35.980000  36.040001  35.827499  35.947498  33.511257   56985200
2017-04-28  36.022499  36.075001  35.817501  35.912498  33.478630   83441600

Ticker           AMZN                                                         \
Price            Open       High        Low      Close  Adj Close     Volume
Date
2017-01-03  37.896000  37.938000  37.384998  37.683498  37.683498   70422000
2017-01-04  37.919498  37.984001  37.709999  37.859001  37.859001   50210000
2017-01-05  38.077499  39.119999  38.013000  39.022499  39.022499  116602000
2017-01-06  39.118000  39.972000  38.924000  39.799500  39.799500  119724000
2017-01-09  39.900002  40.088501  39.588501  39.846001  39.846001   68922000
...               ...        ...        ...        ...        ...        ...
2017-04-24  45.433998  45.499500  45.191002  45.370499  45.370499   62458000
2017-04-25  45.352001  45.473999  45.150002  45.381001  45.381001   67612000
2017-04-26  45.514999  45.787498  45.377998  45.464500  45.464500   52178000
2017-04-27  45.719501  46.092999  45.605499  45.918999  45.918999  106110000
2017-04-28  47.441502  47.479500  46.216499  46.249500  46.249500  147294000

Ticker           GOOG
Price            Open       High        Low      Close  Adj Close    Volume
Date
2017-01-03  38.940498  39.481499  38.790001  39.306999  39.306999  33146000
2017-01-04  39.417999  39.567001  39.158001  39.345001  39.345001  21460000
2017-01-05  39.304001  39.723999  39.250999  39.701000  39.701000  26704000
2017-01-06  39.763000  40.395000  39.610199  40.307499  40.307499  32804000
2017-01-09  40.320000  40.498299  40.141499  40.332500  40.332500  25492000
...               ...        ...        ...        ...        ...       ...
2017-04-24  42.560001  43.172501  42.493000  43.138000  43.138000  27450000
2017-04-25  43.250000  43.750000  43.140499  43.615002  43.615002  33440000
2017-04-26  43.711498  43.802502  43.387402  43.586498  43.586498  24744000
2017-04-27  43.680000  43.770000  43.519001  43.712502  43.712502  40536000
2017-04-28  45.533001  45.842499  45.288502  45.298000  45.298000  65526000

[81 rows x 18 columns]

In [ ]:
aapl = yf.Ticker("aapl")
aapl.info['forwardPE']

25.857538

In [ ]:
def get_info_on_stock(ticker):
    stock = yf.Ticker(ticker)
    return stock.info

get_info_on_stock('14D.AX')

{'address1': 'Western Plant',
 'address2': 'Door 1 1 Watts Road',
 'city': 'Tonsley',
 'state': 'SA',
 'zip': '5042',
 'country': 'Australia',
 'phone': '61 8 8357 8273',
 'website': 'https://1414degrees.com.au',
 'industry': 'Utilities - Independent Power Producers',
 'industryKey': 'utilities-independent-power-producers',
 'industryDisp': 'Utilities - Independent Power Producers',
 'sector': 'Utilities',
 'sectorKey': 'utilities',
 'sectorDisp': 'Utilities',
 'longBusinessSummary': '1414 Degrees Limited offers thermal energy storage technology for industries in Australia. It provides heat and electricity from renewable energy sources. In addition, it offers SiBox, a complete thermal energy storage system The company was formerly known as Latent Heat Storage Pty Ltd. 1414 Degrees Limited was incorporated in 2009 and is based in Tonsley, Australia.',
 'companyOfficers': [{'maxAge': 1,
   'name': 'Dr. Kevin Charles Moriarty B.Sc., BSc (Hons), MAusIMM, Ph.D.',
   'age': 77,
   'title': 'MD & Executive Chairman',
   'yearBorn': 1946,
   'fiscalYear': 2023,
   'totalPay': 94938,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Dr. Mahesh  Venkataraman B.Tech., Ph.D.',
   'title': 'Chief Technology Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Karen  Provis',
   'title': 'Human Resources Manager',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Katelyn Marie Adams B.Com., C.A.',
   'title': 'Company Secretary',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'compensationAsOfEpochDate': 1703980800,
 'maxAge': 86400,
 'priceHint': 4,
 'previousClose': 0.084,
 'open': 0.084,
 'dayLow': 0.083,
 'dayHigh': 0.084,
 'regularMarketPreviousClose': 0.084,
 'regularMarketOpen': 0.084,
 'regularMarketDayLow': 0.083,
 'regularMarketDayHigh': 0.084,
 'beta': 1.25,
 'volume': 89052,
 'regularMarketVolume': 89052,
 'averageVolume': 121197,
 'averageVolume10days': 64239,
 'averageDailyVolume10Day': 64239,
 'bid': 0.08,
 'ask': 0.083,
 'bidSize': 1260000,
 'askSize': 163900,
 'marketCap': 19768026,
 'fiftyTwoWeekLow': 0.025,
 'fiftyTwoWeekHigh': 0.095,
 'fiftyDayAverage': 0.07001,
 'twoHundredDayAverage': 0.0550925,
 'currency': 'AUD',
 'enterpriseValue': 18837298,
 'floatShares': 167341966,
 'sharesOutstanding': 238168992,
 'heldPercentInsiders': 0.29608,
 'impliedSharesOutstanding': 238168992,
 'bookValue': 0.038,
 'priceToBook': 2.1842105,
 'lastFiscalYearEnd': 1688083200,
 'nextFiscalYearEnd': 1719705600,
 'mostRecentQuarter': 1703980800,
 'netIncomeToCommon': -2030907,
 'trailingEps': -0.01,
 'enterpriseToEbitda': -13.126,
 '52WeekChange': 0.38487983,
 'SandP52WeekChange': 0.26265144,
 'exchange': 'ASX',
 'quoteType': 'EQUITY',
 'symbol': '14D.AX',
 'underlyingSymbol': '14D.AX',
 'shortName': '1414DEGREE FPO [14D]',
 'longName': '1414 Degrees Limited',
 'firstTradeDateEpochUtc': 1536710400,
 'timeZoneFullName': 'Australia/Sydney',
 'timeZoneShortName': 'AEST',
 'uuid': 'aebb8063-5dd4-3912-8b22-cffb7fcf30db',
 'messageBoardId': 'finmb_550418331',
 'gmtOffSetMilliseconds': 36000000,
 'currentPrice': 0.083,
 'targetHighPrice': 0.15,
 'targetLowPrice': 0.15,
 'targetMeanPrice': 0.15,
 'targetMedianPrice': 0.15,
 'recommendationKey': 'none',
 'numberOfAnalystOpinions': 1,
 'totalCash': 1442894,
 'totalCashPerShare': 0.006,
 'ebitda': -1435137,
 'totalDebt': 274036,
 'quickRatio': 7.043,
 'currentRatio': 7.456,
 'debtToEquity': 3.04,
 'revenuePerShare': 0.001,
 'returnOnAssets': -0.10348,
 'returnOnEquity': -0.21796,
 'freeCashflow': -3137113,
 'operatingCashflow': -1427708,
 'financialCurrency': 'AUD',
 'trailingPegRatio': None}

In [ ]:
def get_info_on_stock(ticker):
    stock = yf.Ticker(ticker)
    hist = stock.history(period = "max")["Close"]

    return hist.head()

get_info_on_stock("14D.AX")

Date
2018-09-12 00:00:00+10:00    0.217500
2018-09-13 00:00:00+10:00    0.285166
2018-09-14 00:00:00+10:00    0.290000
2018-09-17 00:00:00+10:00    0.415666
2018-09-18 00:00:00+10:00    0.420500
Name: Close, dtype: float64

In [ ]:
def get_info_on_stock(ticker):

    stock = yf.Ticker(ticker)
    
    return stock.financials

get_info_on_stock("14D.AX")

,2023-06-30,2022-06-30,2021-06-30,2020-06-30
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0
Tax Rate For Calcs,0.0,0.0,0.0,0.0
Normalized EBITDA,-1800029.0,286082.0,-2800117.0,-2479994.0
Total Unusual Items,NaN,-997516.0,-2933040.0,NaN
Total Unusual Items Excluding Goodwill,NaN,-997516.0,-2933040.0,NaN
Net Income From Continuing Operation Net Minority Interest,-1831251.0,-1369310.0,-5974178.0,-2851625.0
Reconciled Depreciation,30200.0,380879.0,136772.0,342076.0
EBITDA,-1800029.0,-711434.0,-5733157.0,-2479994.0
EBIT,-1830229.0,-1092313.0,-5869929.0,-2822070.0
Net Interest Income,28268.0,-257996.0,-85421.0,49643.0
Interest Expense,1022.0,276997.0,104249.0,29555.0
Interest Income,29290.0,19001.0,18828.0,79198.0
Normalized Income,-1831251.0,-371794.0,-3041138.0,-2851625.0
Net Income From Continuing And Discontinued Operation,-1831251.0,-1369310.0,-5974178.0,-2851625.0
Diluted Average Shares,208232358.0,207898277.0,198486631.0,178564794.0
Basic Average Shares,208232358.0,207898277.0,198486631.0,178564794.0
Diluted EPS,-0.008797,-0.006573,-0.030063,-0.01595
Basic EPS,-0.008797,-0.006573,-0.030063,-0.01595
Net Income Common Stockholders,-1831251.0,-1369310.0,-5974178.0,-2851625.0
Net Income,-1831251.0,-1369310.0,-5974178.0,-2851625.0
Net Income Including Noncontrolling Interests,-1831251.0,-1369310.0,-5974178.0,-2851625.0
Net Income Continuous Operations,-1831251.0,-1369310.0,-5974178.0,-2851625.0
Tax Provision,0.0,0.0,0.0,0.0
Pretax Income,-1831251.0,-1369310.0,-5974178.0,-2851625.0
Other Income Expense,-289392.0,2452841.0,-2465315.0,331856.0
Other Non Operating Income Expenses,86096.0,3450357.0,467725.0,331856.0
Special Income Charges,NaN,-997516.0,-2933040.0,NaN
Impairment Of Capital Assets,NaN,997516.0,2933040.0,NaN
Earnings From Equity Interest,-375488.0,NaN,NaN,NaN
Net Non Operating Interest Income Expense,28268.0,-257996.0,-85421.0,49643.0
Interest Expense Non Operating,1022.0,276997.0,104249.0,29555.0
Interest Income Non Operating,29290.0,19001.0,18828.0,79198.0
Operating Income,-1570127.0,-3564155.0,-3423442.0,-3233124.0
Operating Expense,1570127.0,3955064.0,3423442.0,3233124.0
Other Operating Expenses,-226771.0,194004.0,297837.0,325033.0
Depreciation Amortization Depletion Income Statement,30200.0,380879.0,136772.0,342076.0
Depreciation And Amortization In Income Statement,30200.0,380879.0,136772.0,342076.0
Depreciation Income Statement,30200.0,380879.0,136772.0,342076.0
Research And Development,NaN,NaN,6553.0,NaN
Selling General And Administration,1766698.0,3380181.0,2982280.0,2566015.0
Selling And Marketing Expense,129639.0,69541.0,50851.0,76521.0
General And Administrative Expense,1637059.0,3310640.0,2931429.0,2489494.0
Other Gand A,1226067.0,2096249.0,1319515.0,906889.0
Rent And Landing Fees,NaN,1556.0,73739.0,37042.0
Salaries And Wages,410992.0,1212835.0,1538175.0,1545563.0
Gross Profit,NaN,390909.0,NaN,NaN
Total Revenue,NaN,390909.0,NaN,NaN
Operating Revenue,NaN,390909.0,NaN,NaN

In [ ]:
def get_info_on_stock(ticker):

    stock = yf.Ticker(ticker)
    
    return stock.major_holders

get_info_on_stock("MSFT")

Breakdown                          Value
insidersPercentHeld              0.00054
institutionsPercentHeld          0.73949
institutionsFloatPercentHeld     0.73989
institutionsCount             6803.00000

In [ ]:
def get_info_on_stock(ticker):

    stock = yf.Ticker(ticker)
    
    return stock.institutional_holders

get_info_on_stock("MSFT")

,Date Reported,Holder,pctHeld,Shares,Value
0,2023-06-30,Vanguard Group Inc,0.0879,653247546,222456919314
1,2023-06-30,Blackrock Inc.,0.0722,536245027,182612881494
2,2023-06-30,State Street Corporation,0.0395,293614078,99987338122
3,2023-06-30,"FMR, LLC",0.0283,210111250,71551285075
4,2023-06-30,Price (T.Rowe) Associates Inc,0.0215,159904219,54453782738
5,2023-06-30,"Geode Capital Management, LLC",0.0199,148129470,50444009713
6,2023-06-30,Morgan Stanley,0.0166,123498322,42056118573
7,2023-06-30,JP Morgan Chase & Company,0.0152,113024837,38489477991
8,2022-12-31,Norges Bank Investment Management,0.0116,86316926,20700525193
9,2023-06-30,Capital World Investors,0.0115,85507261,29118642660

In [ ]:
def get_info_on_stock(ticker):

    stock = yf.Ticker(ticker)
    
    return stock.balance_sheet

get_info_on_stock("MSFT")

,2023-06-30,2022-06-30,2021-06-30,2020-06-30
Ordinary Shares Number,7432000000.0,7464000000.0,7519000000.0,7571000000.0
Share Issued,7432000000.0,7464000000.0,7519000000.0,7571000000.0
Net Debt,12533000000.0,35850000000.0,43922000000.0,49751000000.0
Total Debt,59965000000.0,61270000000.0,67775000000.0,70998000000.0
Tangible Book Value,128971000000.0,87720000000.0,84477000000.0,67915000000.0
...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,111256000000.0,104749000000.0,130256000000.0,136527000000.0
Other Short Term Investments,76552000000.0,90818000000.0,116032000000.0,122951000000.0
Cash And Cash Equivalents,34704000000.0,13931000000.0,14224000000.0,13576000000.0
Cash Equivalents,26226000000.0,5673000000.0,6952000000.0,7666000000.0
Cash Financial,8478000000.0,8258000000.0,7272000000.0,5910000000.0

In [ ]:
def get_info_on_stock(ticker):

    stock = yf.Ticker(ticker)
    
    return stock.cash_flow

get_info_on_stock("MSFT")

,2023-06-30,2022-06-30,2021-06-30,2020-06-30
Free Cash Flow,59475000000.0,65149000000.0,56118000000.0,45234000000.0
Repurchase Of Capital Stock,-22245000000.0,-32696000000.0,-27385000000.0,-22968000000.0
Repayment Of Debt,-2750000000.0,-9023000000.0,-3750000000.0,-5518000000.0
Issuance Of Debt,NaN,NaN,NaN,0.0
Issuance Of Capital Stock,1866000000.0,1841000000.0,1693000000.0,1343000000.0
Capital Expenditure,-28107000000.0,-23886000000.0,-20622000000.0,-15441000000.0
End Cash Position,34704000000.0,13931000000.0,14224000000.0,13576000000.0
Beginning Cash Position,13931000000.0,14224000000.0,13576000000.0,11356000000.0
Effect Of Exchange Rate Changes,-194000000.0,-141000000.0,-29000000.0,-201000000.0
Changes In Cash,20967000000.0,-152000000.0,677000000.0,2421000000.0
Financing Cash Flow,-43935000000.0,-58876000000.0,-48486000000.0,-46031000000.0
Cash Flow From Continuing Financing Activities,-43935000000.0,-58876000000.0,-48486000000.0,-46031000000.0
Net Other Financing Charges,-1006000000.0,-863000000.0,-2523000000.0,-3751000000.0
Cash Dividends Paid,-19800000000.0,-18135000000.0,-16521000000.0,-15137000000.0
Common Stock Dividend Paid,-19800000000.0,-18135000000.0,-16521000000.0,-15137000000.0
Net Common Stock Issuance,-20379000000.0,-30855000000.0,-25692000000.0,-21625000000.0
Common Stock Payments,-22245000000.0,-32696000000.0,-27385000000.0,-22968000000.0
Common Stock Issuance,1866000000.0,1841000000.0,1693000000.0,1343000000.0
Net Issuance Payments Of Debt,-2750000000.0,-9023000000.0,-3750000000.0,-5518000000.0
Net Short Term Debt Issuance,NaN,NaN,NaN,0.0
Net Long Term Debt Issuance,-2750000000.0,-9023000000.0,-3750000000.0,-5518000000.0
Long Term Debt Payments,-2750000000.0,-9023000000.0,-3750000000.0,-5518000000.0
Long Term Debt Issuance,NaN,NaN,NaN,0.0
Investing Cash Flow,-22680000000.0,-30311000000.0,-27577000000.0,-12223000000.0
Cash Flow From Continuing Investing Activities,-22680000000.0,-30311000000.0,-27577000000.0,-12223000000.0
Net Other Investing Changes,-3116000000.0,-2825000000.0,-922000000.0,-1241000000.0
Net Investment Purchase And Sale,10213000000.0,18438000000.0,2876000000.0,6980000000.0
Sale Of Investment,47864000000.0,44894000000.0,65800000000.0,84170000000.0
Purchase Of Investment,-37651000000.0,-26456000000.0,-62924000000.0,-77190000000.0
Net Business Purchase And Sale,-1670000000.0,-22038000000.0,-8909000000.0,-2521000000.0
Purchase Of Business,-1670000000.0,-22038000000.0,-8909000000.0,-2521000000.0
Net PPE Purchase And Sale,-28107000000.0,-23886000000.0,-20622000000.0,-15441000000.0
Purchase Of PPE,-28107000000.0,-23886000000.0,-20622000000.0,-15441000000.0
Operating Cash Flow,87582000000.0,89035000000.0,76740000000.0,60675000000.0
Cash Flow From Continuing Operating Activities,87582000000.0,89035000000.0,76740000000.0,60675000000.0
Change In Working Capital,-2388000000.0,446000000.0,-936000000.0,-1483000000.0
Change In Other Working Capital,5177000000.0,5805000000.0,2324000000.0,-1419000000.0
Change In Other Current Liabilities,2825000000.0,3169000000.0,5551000000.0,2694000000.0
Change In Other Current Assets,-4824000000.0,-3514000000.0,-4391000000.0,-3367000000.0
Change In Payables And Accrued Expense,-2721000000.0,2943000000.0,2798000000.0,3018000000.0
Change In Payable,-2721000000.0,2943000000.0,2798000000.0,3018000000.0
Change In Account Payable,-2721000000.0,2943000000.0,2798000000.0,3018000000.0
Change In Inventory,1242000000.0,-1123000000.0,-737000000.0,168000000.0
Change In Receivables,-4087000000.0,-6834000000.0,-6481000000.0,-2577000000.0
Changes In Account Receivables,-4087000000.0,-6834000000.0,-6481000000.0,-2577000000.0
Stock Based Compensation,9611000000.0,7502000000.0,6118000000.0,5289000000.0
Deferred Tax,-6059000000.0,-5702000000.0,-150000000.0,11000000.0
Deferred Income Tax,-6059000000.0,-5702000000.0,-150000000.0,11000000.0
Depreciation Amortization Depletion,13861000000.0,14460000000.0,11686000000.0,12796000000.0
Depreciation And Amortization,13861000000.0,14460000000.0,11686000000.0,12796000000.0
Depreciation,13861000000.0,14460000000.0,11686000000.0,12796000000.0
Operating Gains Losses,196000000.0,-409000000.0,-1249000000.0,-219000000.0
Gain Loss On Investment Securities,NaN,NaN,NaN,-219000000.0
Net Income From Continuing Operations,72361000000.0,72738000000.0,61271000000.0,44281000000.0

In [ ]:
def get_info_on_stock(ticker):

    stock = yf.Ticker(ticker)
    
    return stock.recommendations

get_info_on_stock("MSFT")

  period  strongBuy  buy  hold  sell  strongSell
0     0m         14   13     6     0           1
1    -1m         23   31     3     0           0
2    -2m         23   31     3     0           0
3    -3m         20   27     6     0           0

In [ ]:
def get_info_on_stock(ticker):

    stock = yf.Ticker(ticker)
    
    return stock.earnings_forecasts

get_info_on_stock("MSFT")

YFNotImplementedError: Have not implemented fetching 'eps_est' from Yahoo API

#### Holds Stocks Not Downloaded

In [ ]:
stocks_not_downloaded = []
missing_stocks = []

#### Functions That Returns a Stock DataFrame from a CSV

In [59]:
def get_stock_df_from_csv(folder, ticker):
    try:
        df = pd.read_csv(folder + ticker + ".csv")
    except FileNotFoundError:
        print("File Doesn't Exist")
    else:
        return df

#### Returns a Named Columns Data from a CSV

In [60]:
def get_column_from_csv(file, col_name):
    try:
        df = pd.read_csv(file)
    except FileNotFoundError:
        print("File Doesn't Exist")

    else:
        return df[col_name]

In [73]:
tickers = get_column_from_csv("exchangesData\Australia.csv", "Ticker")
tickers

0          14D.AX
1          1AD.AX
2          1AG.AX
3          1ST.AX
4          1VG.AX
          ...
3893    ZSIKON.AX
3894    ZSIKOR.AX
3895    ZSIKOT.AX
3896    ZSIKOU.AX
3897    ZSIKOV.AX
Name: Ticker, Length: 3898, dtype: object

#### Function that saved Stock Data to CSV

In [70]:
def save_to_csv_from_yahoo(folder, ticker):
    
    stock = yf.Ticker(ticker)
    
    try:
        print("Get Data for : ", ticker)
        # Get historical closing price data
        df = stock.history(period="max")["Close"]
    
        # Wait 2 seconds
        time.sleep(2)
        
        if df.empty:
            stocks_not_downloaded.append(ticker)
        
        # Remove the period for saving the file name
        # Save data to a CSV file
        # File to save to 
        the_file = folder + ticker.replace(".", "_") + '.csv'
        print(the_file, " Saved")
        df.to_csv(the_file)
    except Exception as ex:
        stocks_not_downloaded.append(ticker)
        print("Couldn't Get Data for :", ticker)

#### Get 5 Years of Data for the first 20 Stocks

In [72]:
folder = "C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/"

for x in range(20):
    save_to_csv_from_yahoo(folder, tickers[x])

print("||||||||||||||||||||||||||||||||||||||||||||||||||| Finished")

Get Data for :  14D.AX
C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/14D_AX.csv  Saved
Get Data for :  1AD.AX
C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/1AD_AX.csv  Saved
Get Data for :  1AG.AX

1ST.AX: No timezone found, symbol may be delisted

C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/1AG_AX.csv  Saved
Get Data for :  1ST.AX
C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/1ST_AX.csv  Saved
Get Data for :  1VG.AX
C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/1VG_AX.csv  Saved
Get Data for :  29M.AX

2BE.AX: No timezone found, symbol may be delisted

C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/29M_AX.csv  Saved
Get Data for :  2BE.AX

2BEO.AX: No timezone found, symbol may be delisted

C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/2BE_AX.csv  Saved
Get Data for :  2BEO.AX
C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/2BEO_AX.csv  Saved
Get Data for :  360.AX
C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/360_AX.csv  Saved
Get Data for :  3DA.AX
C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/3DA_AX.csv  Saved
Get Data for :  3DP.AX

3MF.AX: No timezone found, symbol may be delisted

C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/3DP_AX.csv  Saved
Get Data for :  3MF.AX
C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/3MF_AX.csv  Saved
Get Data for :  3PL.AX
C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/3PL_AX.csv  Saved
Get Data for :  4DS.AX
C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/4DS_AX.csv  Saved
Get Data for :  4DX.AX
C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/4DX_AX.csv  Saved
Get Data for :  5GG.AX
C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/5GG_AX.csv  Saved
Get Data for :  5GN.AX
C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/5GN_AX.csv  Saved
Get Data for :  88E.AX
C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/88E_AX.csv  Saved
Get Data for :  8CO.AX
C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/8CO_AX.csv  Saved
Get Data for :  8IH.AX
C:/Users/vaibh/Downloads/Investment/DS Investment/DS_trading/tickersData/Australian/8IH_AX.csv  Saved
||||||||||||||||||||||||||||||||||||||||||||||||||| Finished